<%- include('./partials/header') %>

<!DOCTYPE html>
<html>
<head>
  <title>Ulventech</title>
</head>
<div class="container">
	<div class="jumbotron">
      <div class="heading">
		<h1><i class="fas fa-campground campicon">Welcome to Ulventech Assignment Page</i></h1>
       		  
	</div>
 </div>		
</div>			
</html>
















	

	
	      
	  
